<ul id="nav-items" class="nav-items">
    <li><a class="link-item" href="">About</a></li>
    <li><a class="link-item" href="">Careers</a></li>
    <li><a class="link-item" href="">Events</a></li>
    <li><a class="link-item" href="">Products</a></li>
    <li><a class="link-item" href="">Support</a></li>
</ul>

<style>
    ul {
        display: flex;
        gap: 2rem;
    }

    @media (max-width: 768px) {
        .nav-items {
            display: none;
            position: fixed;
            background-color: black;
            inset: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding-left: 2rem;
        }

        a {
            font-weight: 300;
            font-size: 22px;
            text-transform: uppercase;
        }

        a::after {
            left: 0;
            margin-inline: 0;
            width: 100%;
        }
        .flex {
            gap: 1rem;
        }
    }
</style>
