@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font: inherit;
}

:root {

  --dark-gray: hsl(0, 0%, 55%);

  --very-dark-gray:  hsl(0, 0%, 41%);



  --ff: 'Alata', sans-serif;
  --ff-2:  'Josefin Sans', sans-serif;
}

body {
  font-family: var(--ff);
  font-size: 15px;
  font-weight: 600;
  line-height: 1.6;
  min-height: 100vh;

}

h1,h2,h3,h4 {
  line-height: 1;
}

a {
  text-decoration: none;

}

a, button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--ff-2);
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}


/* navbar expanded */
.hamburger[aria-expanded='true'] + .nav-items {
  display: flex;
}

/* link hover effect */

.link-item {
  color: var(--dark-gray);
  font-family: var(--ff-2);
  color: white;
  font-size: 16px;
  position: relative;
}

.link-item::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 2px;
  width: 25px;
  margin-inline: auto;
  background-color: transparent;
  transition: background-color 300ms ease-in-out;
}

.link-item:hover::after {
  background-color: white;
}